<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
      <div class="contentbox">
      	<table width="100%">
          	<thead>
              		<tr>
                  		<th>Address</th>
						<th>Town</th>
						<th>City</th>
						<th>Postcode</th>
						<th>Country</th>												
					</tr>
            </thead>
            <tbody>
              		<tr>
                  		<td><%= f.text_field :address1 %></td>
                      	<td><%= f.text_field :address2 %></td>
						<td><%= f.text_field :address3 %></td>
						<td><%= f.text_field :address4 %></td>
						<td><%= f.select :country, Property::COUNTRY, :prompt => 'Select a country' %>
					</tr>
			</tbody>
		</table>
			
		<table>
			<thead>
              		<tr>
						<th>Maximum Occupancy</th>
                  		<th>Currently</th>
						<th>Rent</th>
						<th>Rent Frequency</th>
						<th>Payment Type</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						
																		
					</tr>
            </thead>
			<tbody>
              		<tr>
						<td><%= f.text_field :number_of_occupants %></td>
                  		<td><%= f.select :status, Property::STATUS, :prompt => 'Select status' %></td>
						<td><%= number_to_currency (f.text_field :price) %></td>
                      	<td><%= f.select :payment_frequency, Property::PAYMENT_FREQUENCY, :prompt => 'Select frequency' %></td>
						<td><%= f.select :payment_type, Property::PAYMENT_TYPE, :prompt => 'Select payment method' %></td>
					</tr>
			</tbody>
		</table>

<br />

		<div class="actions">
		    <%= f.submit %>
		  </div>
          
          <div style="clear: both;"></div>
      </div>
      
  </div>
<% end %>
