<!-- Alternative Content Box Start -->
     <div class="contentcontainer">
        <div class="headings altheading">
            <h2>All Properties</h2><br />
        </div>
        <div class="contentbox">
        	<table width="100%">
            	<thead>
                	<tr>
                    	<th>Address</th>
					    <th>Currently</th>
					    <th>Start date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                	<tr>
						<% @properties.each do |property| %>
						  <tr>
						    <td><%= property.address1 %></td>
						    <td><%= property.status %></td>
						    <td><%= property.start_date %></td>
						    <td><%= link_to 'Show', property %> | <%= link_to 'Edit', edit_property_path(property) %> |  <%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %></td>
						  </tr>
						<% end %>
                </tbody>
            </table>
           <!-- <div class="extrabottom">
            <ul>
                	<li><%= image_tag("../admin_images/icons/icon_edit.png") %> Edit</li>
                    <li><%= image_tag("../admin_images/icons/icon_approve.png") %> Approve</li>
                    <li><%= image_tag("../admin_images/icons/icon_unapprove.png") %> Unapprove</li>
                    <li><%= image_tag("../admin_images/icons/icon_delete.png") %> Remove</li>
                </ul>
                <div class="bulkactions"> 
                	
                    	 <%= link_to 'New Property', new_property_path %> 
                </div>
            </div> -->
            
            <div style="clear: both;"></div>
        </div>
    </div>
<%= render :partial => "tenants_list", :locals => { :tenants => Tenant.find(:all) } %>

</div>
    <!-- Alternative Content Box End -->




<br />




