<div class="header">
	<div class="container">
		<h1><%= link_to "The Rent Book", root_path %><h1>
		<div id="login"><a href="signup.html" title="Sign Up">Sign Up</a> | <a href="login.html" title="Log In">Log In</a></div>
	<div id="nav">
		<ul>
			<li class="first current"><%= link_to "home", root_path %></li>
			<li><%= link_to "take the tour", tour_path %></li>
			<li><%= link_to "about us", about_path %></li>
			<li><%= link_to "contact us", contact_path %></li>
		</ul>
	</div>
	</div>
</div>